body {
  background-color: rgb(5, 0, 15);
}


.content-hidden {
    display: none;
}

p, label, i, h2 {
    color: rgb(227, 224, 231);
}

span.name {
  color: rgb(227, 224, 231);
}

span.greet {
  color: rgba(227, 224, 231, .8);
}

label.logo {
  color: rgb(227, 224, 231);
}

header:before {
  box-shadow: inset 0 0 2000px rgb(15, 0, 44);
  background: rgb(5, 0, 15);
}

header {
  background: rgb(5, 0, 15);
  box-shadow: 0px 0px 1px 1px rgba(227, 224, 231, .1);
}

.slider:before {
  background-color: rgb(15, 0, 44);
}

#bars, #times {
  color: rgb(227, 224, 231);
}

div.menu {
  background-color: rgba(5, 0, 15, .966);
}

div.menu li a {
  color: rgb(227, 224, 231);
}

#projects {
  color: rgb(227, 224, 231);
  background-color: rgba(227, 224, 231, .1);
}

#to-top {
  background-color: rgba(227, 224, 231, .1);
}
hr {
  background-color: white;
  color: white;
}
.rate-wrapper select {
    background-color: rgb(5, 0, 15);
    border: 2px solid rgb(227, 224, 231);
    color: white;
}
.rate-container h3 {
  color: rgb(227, 224, 231);
}
form.feedback input {
    border: 1.4px solid rgb(227, 224, 231);
    color: white;
}
.about-container, .project-container, .skills-container, .contact-container, .feedback-container {
  background-color: rgba(33, 0, 100, .12);
}

h2.about-title, h2.skill-heading, h2.project-title, h2.contact, h2.feedback {
  color: rgb(227, 224, 231);
}

h2.about-title span, h2.skill-heading span, h2.project-title span, h2.contact span, h2.feedback span {
  border-bottom: 2px solid rgb(227, 224, 231);
}

img.me {
  border: 2px dashed rgb(227, 224, 231);
}

.skill {
  box-shadow: 0px 0px 2px 2px rgba(227, 224, 231, .4);
}

.project {
  border: 1px solid rgba(227, 224, 231, .6);
}

.view-all {
  color: rgb(227, 224, 231);
  background-color: rgba(227, 224, 231, .1);
}

.view-all:hover {
    background-color: rgba(32, 5, 70, 0.6);
}

.project:hover {
    box-shadow: 0px 0px 2px 2px rgba(227, 224, 231, .4);
}

.project-container .projects-wrapper .project a {
  color: rgb(227, 224, 231);
}

.contact-info p {
    color: rgba(227, 224, 231, .9);
}

.contact-info p i {
    color: rgba(227, 224, 231, .9);
}

.contact-social a i {
    color: rgba(227, 224, 231, .9);
}

.contact-social a label {
    color: rgba(227, 224, 231, .9);
}

.contact-info h3 {
    color: rgb(227, 224, 231);
}

form.contact {
  background-color: rgba(5, 0, 15, .966);
  box-shadow: 0px 0px 1px 1px rgba(227, 224, 231, .3);
}
a.mail {
    color: rgb(227, 224, 231);
}

form.contact input {
  border: 1.4px solid rgb(227, 224, 231);
  color: rgb(227, 224, 231);
}

textarea.message {
  border: 1.4px solid rgb(227, 224, 231);
  color: rgb(227, 224, 231);
}

form.contact a {
  color: rgb(227, 224, 231);
}

button.submit {
  border: none;
  color: rgb(227, 224, 231);
  background-color: rgba(227, 224, 231, .1);
}

label.whatsapp {
  color: gray;
}

button.submit:hover {
  background-color: rgba(32, 5, 70, 0.6);
}

::placeholder {
  color: rgba(227, 224, 231, .7);
}

div.nav ul li a {
  color: rgb(227, 224, 231);
}

div.nav ul li a:hover {
  background-color: rgba(227, 224, 231, .1);
}
div.footer div.social a i {
    color: rgb(227, 224, 231);

}
@keyframes load {
    0% {
        background: rgb(5, 0, 15);
        font-size: 15px;
    }
    20% {
        background: rgb(5, 0, 15);
        font-size: 30px;
        color: rgb(227, 224, 231);
    }
    40% {
      background: rgb(5, 0, 15);
        font-size: 15px;
    }
    100% {
        color: rgba(0, 0, 0, 0);
        font-size: 0px;
        left: -100%;
    }
}

@keyframes animate {
    0% {
        background: transparent;
    }
    100% {
        background: rgba(33, 0, 100, .12);
    }
}