/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&family=Kanit:wght@400;500;900&display=swap');


* {
    scrollbar-width: thin;
    scrollbar-color: #000000 #f1f1f1;
}
html {
    scroll-behavior: smooth;
}


/*dark/light modes stylings*/

body {
    overflow-y: scroll;
    margin: 0px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-color: white;
    /* background: linear-gradient(to right, rgb(198, 199, 201), rgb(205, 208, 212));  */
    /* background: linear-gradient(to right, rgb(10, 11, 12), rgb(15, 16, 19)); */
}
.content-hidden {
    display: none;
}
p, label, i, h2 {
    color: black;
}


div.menu {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 5;
    transition: ease-in-out, .3s;
    backdrop-filter: blur(10px);
}
div.menu.active {
    left: 0px;
}
#bars {
    position: absolute;
    right: 25px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    margin-top: 2px;
}

#bars.active {
    display: none;
}
#times {
    position: absolute;
    right: 25px;
    font-size: 26px;
    color: white;
    top: 14px;
    cursor: pointer;
}
#to-top {
    position: fixed;
    bottom: 30px;
    display: none;
    right: 20px;
    font-weight: 900;
    font-size: 30px;
    padding: 0px 12px;
    border-radius: 30%;
    transition: .5s;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
}
#to-top i {
    font-weight: 900;
    color: white;
}
#to-top:hover {
    background-color: rgba(0,0,0,.09);
}

div.menu li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}
div.menu li a:hover {
    font-weight: 900;
}

div.menu li {
    list-style: none;
    text-align: center;
    padding-right: 30px;
    margin-bottom: 50px;
}
div.menu li ul {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
label.logo {
    font-family: "kanit";
    font-weight: 800;
    font-size: 24px;
    position: absolute;
    left: 5px;
    margin-left: 6%;
    color: white;
    letter-spacing: 2px;
}
@media only screen and (min-width: 770px) {
    label.logo {
        margin-left: 15px;
    }
}
header {
    width: 100%;
    height: 50px;
    background-color: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 3;
    overflow: hidden;
}
  header * {
    margin-top: 10px;
  } 
/*header:before {
    content: "";
    position: absolute;
    background: solid;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(32, 5, 70, .17);
    filter: blur(2px);
    margin: -20px;
}*/
div.intro::before {
    content: "";
    position: absolute;
    background: solid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
div.intro {
    position: relative;
    background-image: url(img/intro2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    margin-top: -50px;
    padding-left: 6%;
    /*margin-right: 6%;*/
    justify-content: center;
    flex-direction: column;
}
img.illustration {
    display: none;
    z-index: 9999999;
}
div.texts {
    z-index: 2;
}
#projects {
    color: whitesmoke;
    background-color: rgba(0,0,0,.9);
    padding: 15px;
    font-size: 14px;
    transition: .5s;
    border: 2px solid white;
    border-radius: 5px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 10%;
}
#projects:hover {
    background-color: rgba(0,0,0,.4);
}
#projects i {
    color: white;
    padding-left: 4px;
}
span.greet {
    color: white;
    font-size: 20px;
}
span.name {
    color: white;
    font-family: "kanit";
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 3px;
}

p.intro1 {
    margin-bottom: 20%;
    line-height: 40px;
    color: white;
}
p.intro {
    margin-top: 0;
    line-height: 50px;
    margin-bottom: 0px;
}
/* About section */
.about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
/*    margin-top: 10%;*/
    background-color: white;
    padding: 0% 5%;  
}

.about-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}
h2.about-title {
    grid-column: 1 / -1;
    color: black;
    font-weight: 900;
    font-family: "poppins";
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -5px
}
/*h2.about-title span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);
}*/

img.me {
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-left: -1px;
    transition: .5s;
    border-radius: 7px;
}
img.me:hover {
    transition: .5s;
    border: 2px dashed black;
}
/*feedback styling*/

.feedback-container {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 20px;
    margin: 4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding: 5%;
    padding-top: 10%;
    background-color:  rgba(250, 243, 252, .99999);
    box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
}
h2.feedback {
    grid-column: 1 / -1;
    color: rgb(32, 5, 70);
    font-weight: 900;
    font-family: "ubuntu";
    font-size: 27px;
    text-align: left;
    margin-top: -15px;
    text-decoration: underline;
}
h2.feedback span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);
}
.feedback-container p {
    text-align: left;
    font-size: 15px;
}
hr {
    width: 100%;
    margin-bottom: 60px;
    color: rgb(32, 5, 70);
    background-color: rgb(32, 5, 70);
}
form.feedback {
    text-align: left;
    display: grid;
}
.input-con {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;

}
form.feedback input {
    margin-top: 4px;
    width: 92%;
    color: black;
    outline: none;
    background: none;
    border-radius: 6px;
    border: 1.4px solid rgb(32, 5, 70);
    padding: .8em;
}
.feedback-wrapper {
    display: grid;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}
form.feedback textarea {
    width: 95%;
    margin-top: 4px;
    margin-bottom: 20px;
}
label.below {
    font-size: 12px;
    text-align: left;
}
label.above {
    text-align: left;
    font-size: 14px;
}
.rate-container h3 {
    color: rgb(32, 5, 70);
}
.rate-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

}
.rate-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.rate-wrapper label {
    font-size: 14px;
}
.rate-wrapper select {
    margin-bottom: 15px;
    border: 2px solid rgb(32, 5, 70);
    font-family: "poppins", Arial;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    width: 100px;
    font-weight: 600;
    padding: 5px;
}
.rate-wrapper select option {
    font-family: "poppins", Arial;
    font-weight: 500;

}
form.feedback button {
/*    grid-column: 1 / -1;*/
    width: 100%;
}

/* Contact section */


h2.contact {
    grid-column: 1 / -1;
    color: black;
    font-weight: 900;
    font-family: "poppins";
    font-size: 30px;
    text-align: center;
}
/*h2.contact span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);*/
}
.contact-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    background-color:  white;
    padding: 5%;
}

.connect{
    margin-top: 30px;
}
.contact-info p {
    color: black;
    font-size: 16px;
}
.contact-info p i {
    margin-right: 10px;
    color: black;
    font-size: 24px;
}
a.mail {
    color: black;
    text-decoration: none;
}
.contact-social a label {
    display: none;
}
.contact-wrapper {
    grid-column: 1 / -1;
    display: grid;
    justify-content: center; 
}

form.contact {
    width: 93%;
    overflow: hidden;
    text-align: center;
    margin-top: 60px;
    align-content: center
    align-self: center;
    justify-self: center;
    background-image: url(img/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgba(32, 5, 70, 0.5);
    margin-bottom: 15px;
    padding: 10px 5px;
}

form.contact p {
    color: white;
}
.contact-info {
    text-align: left;
    padding: 5%;
}

.contact-social {
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
    font-size: 19px;
    color: rgb(32, 5, 70);
}
.contact-social a i {
    color: black;
    font-size: 30px;
    margin-left: 20px;
}
.contact-social a {
    text-align: left;
    margin-top: 16px;
    text-decoration: none;
    color: black;
}
form.contact input {
    margin-top: 1.4em;
    width: 90%;
    border: transparent;
    color: black;
    outline: none;
    background: rgba(255,255,255, .6);
    border-radius: 6px;
    /*border: 1.4px solid rgb(32, 5, 70);*/
    padding: 9px;
}
textarea.message {
    margin-top: 1.4em;
    width: 92%;
    color: black;
    outline: none;
    border: transparent;
    border-radius: 6px;
    background: rgba(255,255,255, .6);
    padding: 5px;
}
button.submit {
    background: black;
    outline: none;
    border: none;
    width: 90%;
    padding: .4em;
    color: white;
    margin-top: 1.3em;
    transition: .5s;
    margin-bottom: 1.4em;
    font-size: 1.3em;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
}
button.submit:hover {
    background-color: rgba(0,0,0,.8);
}
form.contact a {
    text-decoration: none;
    color: white;
}
form.contact a:hover {
    text-decoration: underline;
}

.skills-container {
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    align-items: start;
    margin-top: 10%;
    padding: 5%; 
    background-color: rgba(0, 0, 0, .95);
}
.skill-image {
    width: 50px;
}
#graphics {
    width: 75px;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: rgba(255,255,255,.04);
    /*box-shadow: 0px 0px 2px 2px rgba(255,255,255,.2);*/
}
.skill label {
    color: white;
}
.skill:hover {
    padding: 20px;
    margin: 5px;
    transition: .1s;
}
h2.skill-heading {
    grid-column: 1 / -1;
    color: white;
    font-weight: 900;
    font-family: "poppins";
    font-size: 24px;
    text-align: center;
}
.skills-wrapper {
    color: white;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}
/*h2.skill-heading span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);

}*/
.project-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    background-color:  white;
    padding: 5%;   
    border-bottom: 2px solid rgba(0,0,0,.4);
}
.project-image {
    width: 70%;
    margin-bottom: 15px;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgba(0,0,0,.4);
    transition: .5s;
}
.project:hover {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .7);
}
h2.project-title {
    grid-column: 1 / -1;
    color: black;
    font-weight: 900;
    font-family: "poppins";
    font-size: 30px;
    text-align: center;
}
.projects-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}
/*h2.project-title span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);*/
}



/*Custom scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}

::-moz-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}
#pro-image {
    width: 100%;
}
.image {
    display: none;
}
div.footer {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: row;
    background-color: black;

}
div.footer label {
    text-align: center;
    font-size: 12px;
    color: white;
    font-style: "poppins"
}

div.footer div.social a {
    font-size: 25px;
}
div.footer div.social a i {
    color: white;
    margin: 3px 3px 34px;

}
div.foot-menu {
    width: 50%;
    padding-right: 5%;
    text-align: right;
}
div.foot-menu li a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    font-style: "poppins"
}
div.foot-menu li {
    padding-bottom: 10px;
}
div.footer div.social {
    padding-left: 5%;
}
nav {
    display: none;
}
#pro-title {
    color: black;
    padding: 10px;
    text-decoration: none;
}
a.view-all {
    text-align: center;
    margin-top: 17px;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    color: white;
    padding: 10px;
    transition: .5s;
    text-decoration: none;
    width: 65%;
    background-color: black;
}
a.view-all:hover {
    background-color: rgba(32, 5, 70, 0.6);
}
/*Media queries start*/
@media only screen and (max-width: 770px) {
    ::-webkit-scrollbar, ::-moz-scrollbar {
        display: none;
    }
    #pro-image {
        width: 100%;
    }
}
@media only screen and (min-width: 770px) {
    
    nav {
        display: flex;
        float: right;
        position: absolute;
        right: 50px;
    }
    div.nav ul li {
        margin-right: 15px;
    }
    div.nav ul {
        display: inline-flex;
        list-style: none;
    }

    #bars, #times, #menu {
        display: none;
    }
    div.nav ul li a {
        text-decoration: none;
        color: white;
        font-weight: 700;
        padding: 3px;
        transition: .4s;
        font-size: 15px;
        font-family: 'poppins', Arial, Helvetica, sans-serif;
    }

    @media only screen and (min-width: 1000px) {
        div.nav ul li a {
            font-size: 20px;
        }
    }
    div.nav ul li i {
        color: white;
        font-weight: 700;
        padding: 3px;
        cursor: pointer;
        font-size: 22px;
    }
    div.nav ul li a:hover {
        border-radius: 3px;
        background-color: rgba(255,255,255,.3);
    }

    span.greet {
        font-size: 35px;
    }
/*     div.intro {
        display: grid;
        grid-template-column: 3fr 2fr;
    } */
    p.intro1 {
        margin-bottom: 5%;
        margin-top: 0px;
        font-size: 27px;
        line-height: 60px;
    }
    p.intro {
        margin-top: 6vh;
    }
    @media only screen and (min-width: 1000px) {
        span.name {
            font-size: 80px;
        }
    }    
    @media only screen and (max-width: 1000px) {
            div.nav ul li a {
                font-size: 18px;
            }
            span.name {
                font-size: 65px;
            }
            div.nav ul li i {
                color: white;
                font-weight: 700;
                padding: 3px;
                cursor: pointer;
                font-size: 20px;
            }  
            span.greet {
                font-size: 29px;
            }
            p.intro1 {
                font-size: 23px;
            }
            p.intro {
                margin-top: 0px;
            }
    }
    
/*    div.squ are {
        height: 50%;
        width: 30%;
    }*/
    .switch {
        right: 15px;
    }
/*     img.illustration {
        display: none;
    } */
    div.about {
        margin: 0px;
        width: 100%;
        float: left;
        margin-right: 15px;
    }
    div.about img{
        display: none;
    }
    h2.about {
        font-size: 40px;
    }
    p.about {
        width: 80%;
        line-height: 40px;
        font-size: 18px;
    }
    .about-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: start;
/*        margin-top: 10%;*/
        background-color:  white;
        padding: 6%;  
    }
  
    .about-wrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    h2.about-title {
        grid-column: 1 / -1;
        color: black;
        font-weight: 900;
        font-family: "poppins";
        font-size: 36px;
        text-align: center;
        /* text-decoration: underline; */
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        margin: 0px;
        margin-top: 10%;
        background-color:  rgba(0,0,0.9);
        padding: 6%;
        box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
    }
    .skill-image {
        width: 100px;
    }
    #graphics {
        width: 135px;
    }
    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        background-color: rgba(255,255,255,.04);
    }
    h2.skill-heading {
        grid-column: 1 / -1;
        color: white;
        font-weight: 900;
        font-family: "poppins";
        font-size: 36px;
    }
    .skills-wrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    
    .project-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: 4px;
        text-align: center;
        margin-top: 10%;
        padding: 6%;
        border-radius: 10px;   
    }
    .project-image {
        width: 70%;
    }
    #pro-image {
        width: 95%;
    }
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
    }
   
    h2.project-title {
        grid-column: 1 / -1;
        font-weight: 900;
        font-size: 40x;
    }
    .projects-wrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .project-container .projects-wrapper .project a {
        color: black;
        padding: 10px;
        text-decoration: none;
    }
    .view-all {
        text-align: center;
        margin-top: 17px;
        align-self: center;
        justify-self: center;
        border-radius: 5px;
        color: white;
        padding: 10px;
        text-decoration: none;
        width: 35%;
        /* background-color: rgb(32, 5, 70); */
    }
    .feedback-container p {
        font-size: 17px;
    }
    .feedback-container {
        grid-template-columns: repeat(1, 1fr);
    }
    form.feedback {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    label.above {
        font-size: 17px;
    }
    .rate-container {
        margin-left: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 50%;
    }
    .rate-wrapper label {
        font-size: 18px;
    }
    .contact-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 3%;
        /* background-color:  rgb(250, 243, 252); */
        padding: 6%;
    }
    .contact-wrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center; 
    }
    form.contact {
        width: 70%;
        background-color: rgba(32, 5, 70, .08);
        border-radius: 5px;
        padding: 20px;
    }
    .contact-info {
        text-align: left;
        margin-left: 0px;
        width: 85%;
    }

    .contact-social {
        display: grid;
        margin: -20px;
        padding: 0px;
        font-size: 19px;
        /* color: rgb(32, 5, 70); */;
    }
    .contact-social a i {
        /* color: rgb(32, 5, 70); */
        font-size: 30px;
    }
    .contact-social a {
        margin-top: 16px;
        display: flex;
        width: 35%;
        text-decoration: none;
        /* color: rgb(32, 5, 70); */
    }
    h2.contact {
        grid-column: 1 / -1;
        /* color: rgb(32, 5, 70); */
        font-weight: 900;
        /* font-family: "ubuntu"; */
        font-size: 40px;

    }
    .contact-info p {
        /* color: rgb(32, 5, 70); */
        font-size: 18px;
    }
    .contact-info p i {
        margin-right: 10px;
        /* color: rgb(32, 5, 70); */
        font-size: 30px;
    }
    
    .contact-social a label {
        display: flex;
        margin-left: 10px;
        cursor: pointer;
        /* color: rgb(32, 5, 70); */
    }
    div.footer {
     display: grid;
     grid-template-columns: 3fr 1fr;
    }
    /* div.footer label {
        text-align: center;
        font-size: 17px;
    } */

}
span.wave {
    /*display: inline-block;*/
    animation: wave-animation 2s infinite;
    transform-origin: 70% 70%; /* Adjust this based on how you want the wave to look */
}

@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
