/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&family=Kanit:wght@400;500;900&display=swap');


* {
    scrollbar-width: thin;
    scrollbar-color: #2e0854 #f1f1f1;
}
html {
    scroll-behavior: smooth;
}


/*dark/light modes stylings*/

body {
    overflow-y: scroll;
    margin: 0px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-color: rgb(227, 224, 231);
    /* background: linear-gradient(to right, rgb(198, 199, 201), rgb(205, 208, 212));  */
    /* background: linear-gradient(to right, rgb(10, 11, 12), rgb(15, 16, 19)); */
}
.content-hidden {
    display: none;
}
p, label, i, h2 {
    color: #0f0e0e;
}

.content-hidden {
    display: none;
}
/* toggle switch */

.switch {
  position: absolute;
  display: inline-block;
  width: 39px;
  right: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(50, 11, 104);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  
}

input:checked + .slider {
  background-color: rgb(227, 224, 231);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

div.menu {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-color: rgba(200, 187, 218, 0.966);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 3;
    transition: ease-in-out, .3s;
}
div.menu.active {
    left: 0px;
}
#bars {
    position: absolute;
    right: 25px;
    font-size: 26px;
    color: rgb(50, 11, 104);
    cursor: pointer;
    margin-top: 2px;
}

#bars.active {
    display: none;
}
#times {
    position: absolute;
    right: 25px;
    font-size: 26px;
    color: rgb(50, 11, 104);
    top: 14px;
    cursor: pointer;
}
#to-top {
    position: fixed;
    bottom: 30px;
    display: none;
    right: 20px;
    font-weight: 900;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: .5s;
    background-color: rgba(59, 19, 116, 0.677);
}
#to-top i {
    font-weight: 900;
    color: white;
}
#to-top:hover {
    background-color: rgb(59, 19, 116);
}

div.menu li a {
    text-decoration: none;
    color: rgb(32, 5, 70);
    font-weight: 700;
    font-size: 20px;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}
div.menu li a:hover {
    font-weight: 900;
}

div.menu li {
    list-style: none;
    text-align: center;
    padding-right: 30px;
    margin-bottom: 50px;
}
div.menu li ul {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
label.logo {
    font-family: "kanit";
    font-weight: 800;
    font-size: 26px;
    position: absolute;
    left: 10px;
    margin-left: 20px;
    color: rgb(32, 5, 70);
    letter-spacing: 2px;
}

header {
    width: 100%;
    height: 50px;
    box-shadow: 0 0 2px 0 rgba(27, 2, 32, 0.8); 
    top: 0px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    background: solid;
    overflow: hidden;
}
    
header:before {
    content: "";
    position: absolute;
    background: solid;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(32, 5, 70, .17);
    filter: blur(2px);
    margin: -20px;
}
div.intro {
    height: 100vh;
    display: flex;
    margin-top: 0%;
    padding-left: 6%;
    margin-right: 6%;
    justify-content: center;
    flex-direction: column;
}
#projects {
    color: whitesmoke;
    background-color: rgb(32, 5, 70);
    padding: 10px;
    font-size: 14px;
    transition: .5s;
    border: 2px;
    border-radius: 5px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 10%;
}
#projects:hover {
    background-color: rgba(32, 5, 70, 0.6);
}
#projects i {
    color: white;
    padding-left: 4px;
}
span.greet {
    color: rgb(56, 19, 107);
    font-size: 20px;
}
span.name {
    color: rgb(32, 5, 70);
    font-family: "kanit";
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 3px;
}

p.intro1 {
    margin-bottom: 20%;
    line-height: 40px;
}
p.intro {
    margin-top: 0;
    line-height: 50px;
    margin-bottom: 0px;
}
/* About section */
.about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
/*    margin-top: 10%;*/
    background-color: rgb(250, 243, 252);
    box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
    padding: 6%;  
}

.about-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}
h2.about-title {
    grid-column: 1 / -1;
    color: rgb(32, 5, 70);
    font-weight: 900;
    font-family: "ubuntu";
    font-size: 36px;
    text-align: left;
    text-decoration: underline;
}
h2.about-title span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);
}

img.me {
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-left: -1px;
    border: 2px dashed rgb(32, 5, 70);
    border-radius: 7px;
}
/*feedback styling*/

.feedback-container {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 20px;
    margin: 4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding: 5%;
    padding-top: 10%;
    background-color:  rgba(250, 243, 252, .99999);
    box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
}
h2.feedback {
    grid-column: 1 / -1;
    color: rgb(32, 5, 70);
    font-weight: 900;
    font-family: "ubuntu";
    font-size: 27px;
    text-align: left;
    margin-top: -15px;
    text-decoration: underline;
}
h2.feedback span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);
}
.feedback-container p {
    text-align: left;
    font-size: 15px;
}
hr {
    width: 100%;
    margin-bottom: 60px;
    color: rgb(32, 5, 70);
    background-color: rgb(32, 5, 70);
}
form.feedback {
    text-align: left;
    display: grid;
}
.input-con {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;

}
form.feedback input {
    margin-top: 4px;
    width: 92%;
    color: black;
    outline: none;
    background: none;
    border-radius: 6px;
    border: 1.4px solid rgb(32, 5, 70);
    padding: .8em;
}
.feedback-wrapper {
    display: grid;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}
form.feedback textarea {
    width: 95%;
    margin-top: 4px;
    margin-bottom: 20px;
}
label.below {
    font-size: 12px;
    text-align: left;
}
label.above {
    text-align: left;
    font-size: 14px;
}
.rate-container h3 {
    color: rgb(32, 5, 70);
}
.rate-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

}
.rate-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.rate-wrapper label {
    font-size: 14px;
}
.rate-wrapper select {
    margin-bottom: 15px;
    border: 2px solid rgb(32, 5, 70);
    font-family: "poppins", Arial;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    width: 100px;
    font-weight: 600;
    padding: 5px;
}
.rate-wrapper select option {
    font-family: "poppins", Arial;
    font-weight: 500;

}
form.feedback button {
/*    grid-column: 1 / -1;*/
    width: 100%;
}

/* Contact section */


h2.contact {
    grid-column: 1 / -1;
    color: rgb(32, 5, 70);
    font-weight: 900;
    font-family: "ubuntu";
    font-size: 30px;
    text-align: left;
    text-decoration: underline;
}
h2.contact span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);
}
.contact-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    background-color:  rgb(250, 243, 252);
    box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
    padding: 6%;
}

.connect{
    margin-top: 30px;
}
.contact-info p {
    color: rgb(32, 5, 70);
    font-size: 16px;
}
.contact-info p i {
    margin-right: 10px;
    color: rgb(32, 5, 70);
    font-size: 24px;
}
a.mail {
    color: rgb(32, 5, 70);
    text-decoration: none;
}
.contact-social a label {
    display: none;
}
.contact-wrapper {
    grid-column: 1 / -1;
    display: grid;
    justify-content: center; 
}
form.contact {
    width: 85%;
    overflow: hidden;
    margin-top: 60px;
    align-self: center;
    justify-self: center;
    background-color: rgba(32, 5, 70, .08);
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgba(32, 5, 70, 0.5);
    padding: 20px;
}
.contact-info {
    text-align: left;
}

.contact-social {
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
    font-size: 19px;
    color: rgb(32, 5, 70);
}
.contact-social a i {
    color: rgb(32, 5, 70);
    font-size: 30px;
    margin-left: 20px;
}
.contact-social a {
    text-align: left;
    margin-top: 16px;
    text-decoration: none;
    color: rgb(32, 5, 70);
}
form.contact input {
    margin-top: 1.4em;
    width: 85%;
    color: black;
    outline: none;
    background: none;
    border-radius: 6px;
    border: 1.4px solid rgb(32, 5, 70);
    padding: 9px;
}
textarea.message {
    margin-top: 1.4em;
    width: 87%;
    color: black;
    background: none;
    outline: none;
    border-radius: 6px;
    border: 1.4px solid rgb(32, 5, 70);
    padding: 5px;
}
button.submit {
    background: rgb(32, 5, 70);
    outline: none;
    border: none;
    width: 90%;
    padding: .4em;
    color: white;
    margin-top: 1.3em;
    transition: .5s;
    margin-bottom: 1.4em;
    font-size: 1.3em;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
}
button.submit:hover {
    background-color: rgba(32, 5, 70, 0.87);
}
form.contact a {
    text-decoration: none;
    color: rgb(59, 19, 116);
}
form.contact a:hover {
    text-decoration: underline;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    align-items: start;
    margin: 4px;
    margin-top: 10%;
    background-color:  rgb(250, 243, 252);
    padding: 6%;
    box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
    border-radius: 10px;   
}
.skill-image {
    width: 50px;
}
#graphics {
    width: 75px;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 0px 2px 2px rgba(32, 5, 70, .5);
}
h2.skill-heading {
    grid-column: 1 / -1;
    color: rgb(32, 5, 70);
    font-weight: 900;
    font-family: "ubuntu";
    font-size: 24px;
    text-align: left;
    text-decoration: underline;
}
.skills-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}
h2.skill-heading span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);

}
.project-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 4px;
    text-align: center;
    margin-top: 10%;
    background-color:  rgb(250, 243, 252);
    padding: 6%;
    box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
    border-radius: 10px;   
}
.project-image {
    width: 70%;
    margin-bottom: 10px;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(32, 5, 70);
}
.project:hover {
    box-shadow: 0px 0px 2px 2px rgba(32, 5, 70, .5);
}
h2.project-title {
    grid-column: 1 / -1;
    color: rgb(32, 5, 70);
    font-weight: 900;
    font-family: "ubuntu";
    font-size: 30px;
    text-align: left;
    text-decoration: underline;
}
.projects-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}
h2.project-title span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);
}
.project-container .projects-wrapper .project a {
    color: rgb(32, 5, 70);
    padding: 10px;
    text-decoration: none;
}
.view-all {
    text-align: center;
    margin-top: 17px;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    color: white;
    padding: 10px;
    transition: .5s;
    text-decoration: none;
    width: 65%;
    background-color: rgb(32, 5, 70);
}
.view-all:hover {
    background-color: rgba(32, 5, 70, 0.6);
}

/*Custom scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: #2e0854;
    border-radius: 5px;
}

::-moz-scrollbar-thumb {
    background-color: #2e0854;
    border-radius: 5px;
}
/*animation styles*/

@keyframes animate {
    0% {
        background: transparent;
    }
    100% {
        background: rgba(32, 5, 70, .17);
    }
}
div.square {
    height: 93.5%;
    width: 80%;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: -40%;
    z-index: -99;
    animation-name: animate;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;

}
@keyframes load {
    0% {
        background: rgb(227, 224, 231);
        font-size: 15px;
    }
    20% {
        background: rgb(227, 224, 231);
        font-size: 30px;
        color: rgb(32, 5, 70);
    }
    40% {
        font-size: 15px;
    }
    100% {
        color: rgba(0, 0, 0, 0);
        font-size: 0px;
        left: -100%;
    }
}

div.cover {
    position: fixed;
    top: 0px;
    bottom: 0px;
    background: rgb(227, 224, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(32, 5, 70);
    transition: ease-in-out, .3s;
    font-family: "kanit", Arial;
    font-weight: 900;
    font-size: 15px;
    height: 100%;
    width: 100%;
    z-index: 99999;
    animation-name: load;
    animation-duration: 11.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.image {
    display: none;
}
div.footer {
    display: flex;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 25px;
    flex-direction: column;
    background-color: rgba(32, 5, 70, 0.3);

}
div.footer label {
    text-align: center;
    font-size: 12px;
}

div.footer div.social a {
    font-size: 25px;
}
div.footer div.social a i {
    color: rgb(32, 5, 70);
    margin: 3px 3px 34px;

}
nav {
    display: none;
}

/*Media queries start*/

@media only screen and (min-width: 770px) {
    nav {
        display: flex;
        float: right;
        position: absolute;
        right: 50px;
    }
    div.nav ul li {
        margin-right: 15px;
    }
    div.nav ul {
        display: inline-flex;
        list-style: none;
    }

    #bars, #times, #menu {
        display: none;
    }
    div.nav ul li a {
        text-decoration: none;
        color: rgb(32, 5, 70);
        font-weight: 700;
        padding: 3px;
        transition: .4s;
        font-size: 15px;
        font-family: 'poppins', Arial, Helvetica, sans-serif;
    }

    @media only screen and (min-width: 1000px) {
        div.nav ul li a {
            font-size: 20px;
        }
    }
    div.nav ul li i {
        color: rgb(32, 5, 70);
        font-weight: 700;
        padding: 3px;
        cursor: pointer;
        font-size: 22px;
    }
    div.nav ul li a:hover {
        border-radius: 3px;
        background-color: rgba(32, 5, 70, .27);
    }

    span.greet {
        font-size: 35px;
    }
    p.intro1 {
        margin-bottom: 5%;
        margin-top: 0px;
        font-size: 27px;
        line-height: 60px;
    }
    p.intro {
        margin-top: 6vh;
    }
    @media only screen and (min-width: 1000px) {
        span.name {
            font-size: 80px;
        }
    }    
    @media only screen and (max-width: 1000px) {
            div.nav ul li a {
                font-size: 18px;
            }
            span.name {
                font-size: 65px;
            }
            div.nav ul li i {
                color: rgb(32, 5, 70);
                font-weight: 700;
                padding: 3px;
                cursor: pointer;
                font-size: 20px;
            }  
            span.greet {
                font-size: 29px;
            }
            p.intro1 {
                font-size: 23px;
            }
            p.intro {
                margin-top: 0px;
            }
    }
    
/*    div.squ are {
        height: 50%;
        width: 30%;
    }*/
    .switch {
        right: 15px;
    }
    div.about {
        margin: 0px;
        width: 100%;
        float: left;
        margin-right: 15px;
    }
    div.about img{
        display: none;
    }
    h2.about {
        font-size: 40px;
    }
    p.about {
        width: 80%;
        line-height: 40px;
        font-size: 18px;
    }
    .about-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: start;
/*        margin-top: 10%;*/
        background-color:  rgb(250, 243, 252);
        padding: 6%;  
    }
  
    .about-wrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    h2.about-title {
        grid-column: 1 / -1;
        color: rgb(32, 5, 70);
        font-weight: 900;
        font-family: "ubuntu";
        font-size: 36px;
        text-align: left;
        text-decoration: underline;
    }
    h2.about-title span {
        padding: 1px;
        border-bottom: 2px solid rgb(32, 5, 70);
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        margin: 4px;
        margin-top: 10%;
        background-color:  rgb(250, 243, 252);
        padding: 6%;
        box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
        border-radius: 10px;   
    }
    .skill-image {
        width: 100px;
    }
    #graphics {
        width: 135px;
    }
    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 0px 2px 2px rgba(32, 5, 70, .5);
    }
    h2.skill-heading {
        grid-column: 1 / -1;
        color: rgb(32, 5, 70);
        font-weight: 900;
        font-family: "ubuntu";
        font-size: 36px;
        text-align: left;
        text-decoration: underline;
    }
    .skills-wrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    h2.skill-heading span {
        padding: 1px;
        border-bottom: 2px solid rgb(32, 5, 70);

    }
    .project-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: 4px;
        text-align: center;
        margin-top: 10%;
        background-color:  rgb(250, 243, 252);
        padding: 6%;
        box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
        border-radius: 10px;   
    }
    .project-image {
        width: 70%;
    }
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        border: 1px solid rgb(32, 5, 70);
    }
    .project:hover {
        box-shadow: 0px 0px 2px 2px rgba(32, 5, 70, .5);
    }
    h2.project-title {
        grid-column: 1 / -1;
        color: rgb(32, 5, 70);
        font-weight: 900;
        font-family: "ubuntu";
        font-size: 40x;
        text-align: left;
        text-decoration: underline;
    }
    .projects-wrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    h2.project-title span {
        padding: 1px;
        border-bottom: 2px solid rgb(32, 5, 70);
    }
    .project-container .projects-wrapper .project a {
        color: rgb(32, 5, 70);
        padding: 10px;
        text-decoration: none;
    }
    .view-all {
        text-align: center;
        margin-top: 17px;
        align-self: center;
        justify-self: center;
        border-radius: 5px;
        color: white;
        padding: 10px;
        text-decoration: none;
        width: 65%;
        background-color: rgb(32, 5, 70);
    }
    .feedback-container p {
        font-size: 17px;
    }
    .feedback-container {
        grid-template-columns: repeat(1, 1fr);
    }
    form.feedback {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    label.above {
        font-size: 17px;
    }
    .rate-container {
        margin-left: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 50%;
    }
    .rate-wrapper label {
        font-size: 18px;
    }
    .contact-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10%;
        background-color:  rgb(250, 243, 252);
        padding: 6%;
    }
    .contact-wrapper {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center; 
    }
    form.contact {
        width: 70%;
        background-color: rgba(32, 5, 70, .08);
        border-radius: 5px;
        padding: 20px;
    }
    .contact-info {
        text-align: left;
        margin-left: 0px;
        width: 85%;
    }

    .contact-social {
        display: grid;
        margin: -20px;
        padding: 0px;
        font-size: 19px;
        color: rgb(32, 5, 70);;
    }
    .contact-social a i {
        color: rgb(32, 5, 70);
        font-size: 30px;
    }
    .contact-social a {
        margin-top: 16px;
        display: flex;
        width: 35%;
        text-decoration: none;
        color: rgb(32, 5, 70);
    }
    h2.contact {
        grid-column: 1 / -1;
        color: rgb(32, 5, 70);
        font-weight: 900;
        font-family: "ubuntu";
        font-size: 40px;
        text-align: left;
        text-decoration: underline;
    }
    .contact-info p {
        color: rgb(32, 5, 70);
        font-size: 18px;
    }
    .contact-info p i {
        margin-right: 10px;
        color: rgb(32, 5, 70);
        font-size: 30px;
    }
    h2.contact span {
        padding: 1px;
        border-bottom: 2px solid rgb(32, 5, 70);
    }
    .contact-social a label {
        display: flex;
        margin-left: 10px;
        cursor: pointer;
        color: rgb(32, 5, 70);
    }
    div.footer label {
        text-align: center;
        font-size: 17px;
    }

}