
/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 770px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  body {
    background: rgb(0,4,8);
    backgound: linear-gradient(to bottom, #000000, #000813);
    
  }
  div.intro {
    background-image: url('background5.jpg');
    background-size: cover;
    background-repeat: none;
    height: 100%;
  }
  div.intro::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(0,4,8,0), rgba(0,4,8,1));
  pointer-events: none;
 }
 span.name {
   font-family: 'Ubuntu';
 }
  header {
    width: 100%;
    overflow: hidden;
    background-color: none;
    height: 9%;
    padding-top: 9%;
    padding-bottom: 15%;
  }
  label.logo {
    color: white;
    font-size: 1.7em;
    margin-left: 7%;
    font-weight: 900;
    font-family: cambria;
  }
  #times {
    color: white;
    font-size: 25px;
    position: absolute;
    display: none;
  }
  #bars {
    color: white;
    font-size: 25px;
    position: absolute;
    display: block;
  }
  #bars.active {
    display: none;
  }
  #bars.show {
    display: block;
  }
  #times.active {
    display: block;
  }
  div.toggle {
    position: relative;
    float: right;
    margin-right: 12%;
    z-index: 2;
  }
  
  #menu {
    position: absolute;
    width: 60%;
    height: 100%;
    z-index: 2;
    background: rgba(0,8,19,0.987);
    text-align: left;
    transition: .4s;
    justify-content: center;
    align-items: center;
    padding-top: 25%;
    padding-left: 9%;
    left: -100%;
  }
  #menu.active {
    left: 0%;
    box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.598);
    position: fixed;
  }
  div.menu ul li {
    list-style: none;
    color: white;
    font-size: 19px;
    font-family: 'Poppins';
    padding-top: 41px;
  }
  div.menu ul li a {
    text-decoration: none;
    color: skyblue;
  }
  p {
    color: white;
    text-align: left;
    font-family: cambria;
  }
  p.intro {
    margin-bottom: 3%;
    line-height: 3.3em;
    margin-left: 6%;
    margin-right: 6%;
    z-index: 2;
  }
  
  p.intro1 {
    position: relative;
    z-index: 1;
    line-height: 1.8em;
    margin-bottom: 5px;
    margin-left: 6%;
    margin-right: 6%;
  }
  button.top {
    position: fixed;
    bottom: 5%;
    right: 10px;
    display: none;
    padding: 4px;
    z-index: 2; 
    border-radius: 20%;
    outline: none;
    border: 1px solid skyblue;
    background: skyblue;
    
  }
  #arrow {
    color: white;
    font-size: 19px;
  }
  p.me {
    margin: 6%;
    padding: 3px;
    text-align: center;
    
  }
  img {
    border-radius: 10%;
    border: 2px dashed skyblue;
  }
  i.fa {
    color: skyblue;
    font-size: 1.4em;
    padding: 4px;
  }
  div.social {
    text-align: center;
    padding-bottom: 1em;
  }
  div.about {
    margin: 6%;
  }
  p.about {
    line-height: 1.8em;
  }
  h2.about {
    text-align: center;
    font-family: 'ubuntu';
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 2.2em;
    color: skyblue;
  }
  button.projects {
    position: absolute;
    z-index: 1;
    background-color: skyblue;
    outline: none;
    border: 1px solid skyblue;
    padding: 8px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    font-size: 18px;
    bottom: 19%;
    left: 10%;
  }
  #projects {
    color: white;
    font-size: 15px;
  }
  button.projects a {
    color: white;
    text-decoration: none;
  }
  div.contact {
    margin: 6%;
    margin-top: 20%;
    background-color:rgba(184,226,233,0.153);
    padding: 8%;
    text-align: center;
    border-radius: 10px;
  }
  div.contact h2{
    color: skyblue;
    font-size: 2em;
    padding-bottom: .5em;
    font-family:'ubuntu';
  }
  form.contact {
    text-align: center;
    color: white;
    font-family: calibri;
  }
  form.contact input {
    margin-top: 1.4em;
    width: 100%;
    color: white;
    outline: none;
    background: none;
    border-radius: 5px;
    border: 1px solid skyblue;
    padding: .8em;
  }
  textarea.message {
    margin-top: 1.4em;
    width: 100%;
    color: white;
    outline: none;
    background: none;
    border-radius: 5px;
    border: 1px solid skyblue;
    padding: 5px;
  }
  button.submit {
    background: skyblue;
    outline: none;
    border: 1px solid skyblue;
    width: 95%;
    padding: .4em;
    color: white;
    margin-top: 1.3em;
    margin-bottom: 1.4em;
    font-size: 1.3em;
    font-weight: 800;
    border-radius: 5px;
  }
  form.contact a {
    text-decoration: none;
    color: skyblue;
  }
  div.footer {
    width: 100%;
    margin-top: 4%;
    color: skyblue;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-family: 'Poppins';
  }
  hr {
    background: skyblue;
    outline-color: skyblue;
    border: 1px solid skyblue;
    width: 100%;
    margin-top: 16%;
    
  }
}
@media only screen and (min-width: 768px) {
  body {
    background: rgb(0,4,8);
  }
  div.intro {
    background-image: url('background5.jpg');
    background-size: cover;
    background-repeat: none;
    height: 100%;
  }
  div.menu {
    position: absolute;
    right: 5%;
    width: 50%;
    text-align: right;
  }
  div.menu ul li {
    display: inline-flex;
    padding-right: 3%;
  }
  div.menu ul {
    list-style: none;
  }
  div.menu ul li a {
    text-decoration: none;
    color: skyblue;
  }
  label.logo {
    color: white;
    font-family: "ubuntu";
  }
}
  
