/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    overflow-y: scroll;
    margin: 0px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-color: rgb(227, 224, 231);
    /* background: linear-gradient(to right, rgb(198, 199, 201), rgb(205, 208, 212));  */
    /* background: linear-gradient(to right, rgb(10, 11, 12), rgb(15, 16, 19)); */
}
p, label, i, h2 {
    color: #0f0e0e;
}

/* menu stylings */
div.menu {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-color: rgba(200, 187, 218, 0.966);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 3;
    transition: ease-in-out, .3s;
}
div.menu.active {
    left: 0px;
}
#bars {
    position: absolute;
    right: 25px;
    font-size: 26px;
    color: rgb(50, 11, 104);
    cursor: pointer;
    margin-top: 5px;
}
#bars.active {
    display: none;
}
#times {
    position: absolute;
    right: 25px;
    font-size: 26px;
    color: rgb(50, 11, 104);
    top: 14px;
    cursor: pointer;
}
#to-top {
    position: fixed;
    bottom: 30px;
    display: none;
    right: 20px;
    font-weight: 900;
    font-size: 30px;
    padding: 2px 7px 3px 7px;
    border-radius: 5px;
    transition: .5s;
    background-color: rgba(59, 19, 116, 0.877);
}
#to-top i {
    font-weight: 900;
    color: white;
}
#to-top:hover {
    background-color: rgb(59, 19, 116);
}

div.menu li a {
    text-decoration: none;
    color: rgb(32, 5, 70);
    font-weight: 700;
    font-size: 20px;
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}
div.menu li a:hover {
    font-weight: 900;
}

div.menu li {
    list-style: none;
    text-align: center;
    padding-right: 30px;
    margin-bottom: 40px;
}
div.menu li ul {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
label.logo {
    font-family: "poppins";
    font-weight: 800;
    font-size: 26px;
    position: absolute;
    left: 10px;
    margin-left: 20px;
    color: rgb(32, 5, 70);
}

header {
    width: 100%;
    height: 50px;
    box-shadow: 0 0 2px 0 rgba(27, 2, 32, 0.8); 
    top: 0px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    background: inherit;
    overflow: hidden;
}
    
header:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(200, 196, 201, 0.7);
    filter: blur(2px);
    margin: -20px;
}
div.intro {
    height: 80%;
    display: flex;
    margin-top: 10%;
    padding-left: 6%;
    margin-right: 6%;
    justify-content: center;
    flex-direction: column;
}
#projects {
    color: whitesmoke;
    background-color: rgb(32, 5, 70);
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 50px;
}
#projects i {
    color: white;
}
span.greet {
    color: rgb(56, 19, 107);
    font-size: 20px;
}
span.name {
    color: rgb(32, 5, 70);
    font-family: "arial black";
    font-size: 50px;
    font-weight: 900;
}

p.intro1 {
    margin-bottom: 10%;
    line-height: 40px;
}
p.intro {
    line-height: 60px;
    padding-top: 40px;
}
/* About section */
div.about {
    display: flex;
    flex-direction: column;
    padding: 6%;
    margin-top: 28%;
    justify-content: center;
    box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
    background-color: rgb(250, 243, 252);
} 
h2.about {
    color: rgb(32, 5, 70);
    font-weight: 900;
    font-family: "ubuntu";
    font-size: 30px;
    text-decoration: underline;
}
h2.about span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);
}
img.me {
    text-align: center;
    width: 100%;
    margin-left: -1px;
    border: 2px dashed rgb(32, 5, 70);
    border-radius: 7px;
}
/* Contact section */


div.contact {
    margin: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    justify-content: center;
    background-color:  rgb(250, 243, 252);
    padding: 6%;
    box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
}
div.contact h2{
    text-decoration: underline;
    color: rgb(32, 5, 70);
    font-size: 30px;
    padding-bottom: 15px;
    font-family:'ubuntu';
}
div.contact h2 span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);
}
form.contact {
    text-align: center;
    color: black;
}
form.contact input {
    margin-top: 1.4em;
    width: 100%;
    color: black;
    outline: none;
    background: none;
    border-radius: 5px;
    border: 1px solid rgb(32, 5, 70);
    padding: .8em;
}
textarea.message {
    margin-top: 1.4em;
    width: 100%;
    color: black;
    outline: none;
    background: none;
    border-radius: 5px;
    border: 1px solid rgb(32, 5, 70);
    padding: 5px;
}
button.submit {
    background: rgb(32, 5, 70);
    outline: none;
    border: 1px solid rgb(32, 5, 70);
    width: 95%;
    padding: .4em;
    color: white;
    margin-top: 1.3em;
    margin-bottom: 1.4em;
    font-size: 1.3em;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
}
form.contact a {
    text-decoration: none;
    color: rgb(32, 5, 70);
}

div.skills {
    margin: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    justify-content: center;
    background-color:  rgb(250, 243, 252);
    padding: 6%;
    box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
    border-radius: 10px;    
}
div.skills h2 {
    text-decoration: underline;
    color: rgb(32, 5, 70);
    font-size: 25px;
    padding-bottom: 15px;
    font-family:'ubuntu';
}
div.skills h2 span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);
}
div.skills > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 9px;
    margin-bottom: 7px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(32, 5, 70, .5);;
}
div.skills > div > img {
    width: 50px;
    height: auto;
}
div.skills div.design img {
    width: 64px;
    height: auto;
}

div.myprojects {
    margin: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    justify-content: center;
    background-color:  rgb(250, 243, 252);
    padding: 6%;
    box-shadow: 0px 0px 1px 1px rgba(124, 118, 118, 0.247);
    border-radius: 10px;    
}
div.myprojects h2 {
    text-decoration: underline;
    color: rgb(32, 5, 70);
    font-size: 25px;
    padding-bottom: 15px;
    font-family:'ubuntu';
}
div.myprojects h2 span {
    padding: 1px;
    border-bottom: 2px solid rgb(32, 5, 70);
}
div.myprojects > div > img {
    width: 70%;
    height: auto;
    margin-bottom: 8px;
}
div.myprojects > div > h3 > a {
    text-decoration: none;
    color: rgb(32, 5, 70);
}
div.myprojects > div {
    display: flex;
    padding: 5px;
    border-radius: 4px;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}


div.myprojects > a {
    color: white;
    background-color: rgb(32, 5, 70);
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 17px;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
}

div.myprojects > div:hover {
    box-shadow: 0px 0px 2px 2px rgba(32, 5, 70, 0.4);
}


/*animation styles*/

@keyframes animate {
    0% {
        background: transparent;
    }
    100% {
        background: rgba(32, 5, 70, .17);
    }
}
div.square {
    height: 30%;
    width: 190px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -99;
    animation-name: animate;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;

}
@keyframes load {
    0% {
        background: rgb(227, 224, 231);
        font-size: 15px;
    }
    33.333333% {
        background: rgb(227, 224, 231);
        font-size: 30px;
        color: rgb(32, 5, 70);
    }
    60% {
        background: rgb(227, 224, 231);
    }
    100% {
        color: rgba(0, 0, 0, 0);
        background: transparent;
        font-size: 15px;
        z-index: -1;
        display: none;
    }
}


div.cover {
    position: fixed;
    top: 0px;
    bottom: 0px;
    background: rgb(227, 224, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(32, 5, 70);
    font-family: "poppins";
    font-weight: 900;
    font-size: 15px;
    height: 100%;
    width: 100%;
    z-index: 4;
    animation-name: load;
    animation-duration: 5.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

div.footer {
    display: flex;
    padding-top: 10px;
    text-align: center;
    flex-direction: column;
    background-color: rgba(32, 5, 70, 0.3);

}
div.footer div.social a {
    font-size: 25px;
}
div.footer div.social a i {
    color: rgb(32, 5, 70);
    margin: 3px 7px 34px;

}